{% load static %}
<footer>
    <div class="footer-content">
        <div>
            <img src="{% static 'images/Logo-Final-v2.png' %}" alt="GMS-K Logo" srcset="">
        </div>
        <div>
            <h4>Quick Links</h4>
            <div>
                <a href="#">who we are</a>
            </div>
            <div>
                <a href="#">partner with us</a>
            </div>
            
            
        </div>
        <div>
            <h4>Contact Us</h4>
            <div>
                <span>info@globalmissionservices.org</span>
            </div>
            <div>
                <span>Tel: (+254) 707465655</span>
            </div>
            <div>
                 <ul style="display:flex; gap:15px; list-style: none;">
                <li><a href="#">FB</a></li>
                <li><a href="#">TW</a></li>
                <li><a href="#">IG</a></li>
            </ul>
            </div>
           
        </div>
    </div>
    <div class="copyright">
        © 2026 Global Mission Services - Kenya. All rights reserved.
    </div>
</footer>